# 3x3x3 Rubik's Cube Heuristic training config (regression task)

defaults:
  - arch: hrm_v1_regression
  - _self_

hydra:
  output_subdir: null

# Data path
data_path: data/cube-3-by-3-heuristic-combined
#resume_checkpoint: "checkpoints/Cube-3-by-3-heuristic ACT-torch/..."

# Hyperparams - Training
global_batch_size: 512

epochs: 1
eval_interval: 1
checkpoint_every_eval: True

lr: 1e-4
lr_min_ratio: 1.0
lr_warmup_steps: 2000

# Standard hyperparameter settings for LM, as used in Llama
beta1: 0.9
beta2: 0.95
weight_decay: 0.1
puzzle_emb_weight_decay: 0.1

# Hyperparams - Puzzle embeddings training
puzzle_emb_lr: 1e-2
